body {
    font-family: "Sono", sans-serif;
  }
  .pricing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6e58e9;
    gap: 2rem;
  }
  
  .pricing-plan{
    flex: 1;
    max-width: 400px;
    height: 300px;
    width: 300px;
    border: 5px solid black;
    padding: 20px;
    text-align: center;
    background-color: #ec8fbf;
    border-radius: 10px;
  }
  .plan-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .plan-price{
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 10px;
  }
  .plan-features{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .plan-button{
    background-color: #b4de37;
    border: 3px solid black;
    border-radius: 10%;
    font-weight: bold;
    padding: 10px;
  }
  .plan-features li{
    margin-bottom: 20px;
  }
  

  /* Hint: What can you do with a media query and flexbox? */
  @media (max-width: 1250px) {
    .pricing-container{
      flex-direction: column;
      height: 100%;
    }
  }